$font_main: 'Lato', sans-serif;
$font_alt: 'Work Sans', sans-serif;

$color_main: #8cc63e;
$color_main_rgba: rgba(140, 198, 62, 0.6);

$color_alt: #808080;
$color_alt_rgba: rgba(128, 128, 128, 0.6);

$color_alt2: #31206e;
$color_alt2_rgba: rgba(49, 32, 110, 0.6);
