@import 'vars';
@import 'mixins';

/*------------------------------------------------
Global
------------------------------------------------*/
@import 'genesis';

/*------------------------------------------------
Global
------------------------------------------------*/
@import 'global';

/*------------------------------------------------
Icons
------------------------------------------------*/
@import 'icons';

/*------------------------------------------------
Header
------------------------------------------------*/
@import 'header';

/*------------------------------------------------
Pages
------------------------------------------------*/
@import 'pages/pages';

/*------------------------------------------------
Footer
------------------------------------------------*/
@import 'footer';
